.game-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #selected-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bingo-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
  
    .bingo-ball__container {
      border: #2c3e50 solid 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .disactive .bingo-ball__container {
      opacity: 0.1;
    }
  }
  
  .bingo-ball {
    animation: ani 0.5s linear;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #9b59b6;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 9px 14px -8px #9b59b6;
    grid-column: 1;
    cursor: pointer;
    transition: opacity 0.5s;
  }
  
  .blue .bingo-ball {
    background-color: #3498db;
    box-shadow: 0px 9px 14px -8px #3498db;
  }
  
  .green .bingo-ball {
    background-color: #2ecc71;
    box-shadow: 0px 9px 14px -8px #2ecc71;
  }
  
  .yellow .bingo-ball {
    background-color: #f1c40f;
    box-shadow: 0px 9px 14px -8px #f1c40f;
  }
  
  .red .bingo-ball {
    background-color: #e74c3c;
    box-shadow: 0px 9px 14px -8px #e74c3c;
  }
  
  @keyframes ani {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .bingo-ball__text {
    background-color: var(--accent-color1);
    border-radius: 50%;
    color: #2c3e50;
    font-weight: bold;
    margin: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .selected__bingo-ball {
    animation: ani 0.5s linear;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: rgb(155,89,182);
    background: linear-gradient(180deg, rgba(155,89,182,1) 0%, rgba(52,152,219,1) 25%, rgba(46,204,113,1) 50%, rgba(241,196,15,1) 75%, rgba(231,76,60,1) 100%);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 9px 14px -8px #9b59b6;
    grid-column: 1;
    cursor: pointer;
    transition: opacity 0.5s;

    .selected__bingo-ball__text {
      background-color: var(--accent-color1);
      border-radius: 50%;
      color: #2c3e50;
      font-weight: bold;
      margin: 0;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 52px;
    }
  }
  
  .selected {
    .bingo-ball {
      width: 150px;
      height: 150px;
      background: rgb(155, 89, 182);
      background: linear-gradient(90deg, rgba(155, 89, 182, 1) 0%, rgba(52, 152, 219, 1) 25%, rgba(46, 204, 113, 1) 50%, rgba(241, 196, 15, 1) 75%, rgba(231, 76, 60, 1) 100%);
    }
  
    .bingo-ball__text {
      width: 110px;
      height: 110px;
    }
  }
  
  .usertype {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    input {
      margin-bottom: 1rem;
      border: 1px solid var(--pink);
    }
  
    button {
      margin-bottom: 2rem;
    }
  }

  button {
    color: var(--accent-color1);
    background-color: var(--background);
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(101deg, var(--pink), var(--green));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--background) inset;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
  }
  .number-grid,
  .button-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .number-grid {
    height: 100%;
    align-items: flex-start;
  }
  .button-grid {
    padding: 2rem 0;
  }

  @media screen and (max-width: 1400px) {
    .bingo-grid {
      grid-template-columns: repeat(12, 1fr);
      .bingo-ball__container {
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .bingo-grid {
      grid-template-columns: repeat(10, 1fr);
      .bingo-ball__container {
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .bingo-grid {
      grid-template-columns: repeat(5, 1fr);
      margin: 0 4rem;
      .bingo-ball__container {
        display: flex;
        justify-content: center;
      }
    }
  }